In [1]:
import os
import pandas as pd
import numpy as np

In [9]:
current_file = os.getcwd()
file_path = os.path.join(current_file, '../src/model/coef_model.csv')

coef_df = pd.read_csv(file_path)

final_variables = ["Intercept", "civilite_num0", "LFY_celibat_20", "LFY_grou_enf_20", "LFY_celib_f_20", "MT5Y_celibat_60", 
                   "MT5Y_ENF_14_16ANS_60", "MT5Y_celib_f_60","LFY_ENF_14_16ANS_20","LFY_hotel_20"]
coef_df

,_LINK_,_TYPE_,_STATUS_,_NAME_,Intercept,civilite_num0,BIG_buyer0,SMALL_buyer0,Previous_buyer0,LFY_ENF_14_16ANS_20,...,LFY_hotel_20,MT5Y_AGENCE_60,MT5Y_ENF_14_16ANS_60,MT5Y_trekking2_60,MT5Y_therme_60,MT5Y_sej_CAP_60,MT5Y_celib_f_60,MT5Y_celibat_60,_LNLIKE_,_ESTTYPE_
0,LOGIT,PARMS,0 Converged,TARGET,-2.648197,-0.649468,NaN,NaN,NaN,0.73519,...,0.652429,NaN,-1.016222,NaN,NaN,NaN,0.542115,0.529172,-1184.340583,MLE

In [10]:
file_path2 = os.path.join(current_file, '../src/model/coef_model2.csv')

coef_df2 = coef_df[final_variables]
coef_df2.to_csv(file_path2)

In [15]:
coef_df2

,Intercept,civilite_num0,LFY_celibat_20,LFY_grou_enf_20,LFY_celib_f_20,MT5Y_celibat_60,MT5Y_ENF_14_16ANS_60,MT5Y_celib_f_60,LFY_ENF_14_16ANS_20,LFY_hotel_20
0,-2.648197,-0.649468,1.014252,0.492115,0.81951,0.529172,-1.016222,0.542115,0.73519,0.652429